/*Общие стили*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    background-color: #F3F7EA;
}

a {
    text-decoration: none;
    color: #000;
}


section, footer {
    padding: 50px 0;
}

article {
    margin-top: 20px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

img {
    width: 100%;
    
}

.text {
    font-size: 1.15rem;
    font-weight: 300;
}

/*Стили секций*/


header {
    background-color:lightgray;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

nav a {
    font-size: 1.2rem;
    font-weight: 400;
}
 
nav a:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 16px;
    margin-left: 20px;
    background-color: #000;
}

nav a:not(:last-child) {
    margin-right: 20px;
}

article .text {
    margin: 20px 0;
}

.my-photo {
    width: 300px;
    height: 300px;
    border: 3px solid green;
    border-radius: 50%; 
    overflow: hidden;
    margin: 15px auto 0;
} 

.about .text {
    max-width: 500px;
    margin: 0 10px;
}

.work {
    display: flex;
    justify-content: center;
    margin: 15px auto 0;

}

.work img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden;
}

.box {
    max-width: 800px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
}

.item {
    width: calc((100% - 2 * 24px) / 2);
}

.item:not(:last-child) {
    margin-right: 24px;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
}

.book img {
    width: 200px;
    height: 200px;
}

.book .text {
    max-width: 400px;
}

footer {
    background-color: lightgray;
}

.links {
    margin: 10px 0;
}

.links a {
    display: block;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 30px;
    transition: all .4s;
}

.links a:hover {
    transform: scale(1.2);
}

.sotial i {
    font-size: 1.5rem;
}

.sotial li {
    display: inline-block;
    transition: all .4s;
}

.sotial li:hover {
    transform: scale(1.5);
}

.sotial li:not(:last-child) {
    margin-right: 10px;
}